.i {
    display: flex;
    height:  100vh;
    background-color: #f5d8f4;
    
    
    
}

.i-left{
    flex: 1;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-left-wrapper{
    padding: 60px;
    height:  50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro{
    padding: 2rem;
    font-size: 30px;
    font-weight: 300;
}

.i-name{
    
    font-size: 60px;
    color: rgb(249, 244, 244);
}

.i-title{
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #f40dd9;
    display: flex;
    align-items: center;

}

.i-scroll{
    padding: 20rem;
    padding-left: 50rem;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

.i-img{
  
  padding: 5rem ;
  padding-left: 1rem;
  width: 95%;
  height:60%;
  object-fit: cover;  
  position: absolute;

  border-end-start-radius: 50%;
  border-top-right-radius: 50%;
 
  
}

 .i-bg{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    background-color: #f5d8f4;
    width: 110%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
  
@media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
    }
  
    .i-left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .i-desc{
      display: none;
    }
    
  }